<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/members/new" method="post">  <!-- form태그 안에 있어야 데이터 전송 가능. 데이터를 post방식으로 /members/new로 전해준다.
                                                                                     이것을 컨트롤러의 @PostMapping이 받음 -->
    <div class="form-group">
      <label for="name">이름</label>
      <input type="text" id="name" name="name" placeholder="이름을 입력하세요"> <!-- "name"이 key로 넘어감 -->
    </div>
    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>